//----------calendar section-----------//
.calendar {
    position: absolute;
    left: 50%;
    margin-left: -3.28em;
    top: 1.72em;
}
.calendar_bg {
    position: relative;
    width: 8.76em;
}
.calendar_list {
    list-style: none;
}
.calendar_item {
    position: absolute;
    overflow: hidden;
    width: 1.48em;
    height: 1.5em;
    &:hover {
        .calendar_item_text {
            .opacity(1);
        }
    }
}
.calendar_item_wrap {
    display: table-cell;
    height: 100%;
    width: 1.48em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    img {
        .inlineblock;
        max-height: 100%;
        max-width: 100%;
    }
}
.calendar_item_text {
    position: absolute;
    background: #015f2b;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .opacity(0);
    .transition(0.5s);
    cursor: pointer;
    & > span {
        display: table;
        width: 94%;
        height: 100%;
        color: white;
        .otrada;
        padding: 0 3%;
        vertical-align: middle;
        font-size: 0.18em;
        & > span {
            display: table-cell;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
        }
    }
}
#cal1 {
    top: 0.39em;
    left: 0.47em;
}
#cal2 {
    top: 0.39em;
    left: 1.97em;
}
#cal3 {
    top: 0.39em;
    left: 3.47em;
}
#cal4 {
    top: 0.39em;
    left: 4.97em;
}
#cal5 {
    top: 0.39em;
    left: 6.47em;
}
#cal6 {
    top: 1.91em;
    left: 0.47em;
}
#cal7 {
    top: 1.91em;
    left: 1.97em;
}
#cal8 {
    top: 1.91em;
    left: 3.47em;
}
#cal9 {
    top: 1.91em;
    left: 4.97em;
}
#cal10 {
    top: 1.91em;
    left: 6.47em;
}
#cal11 {
    top: 3.43em;
    left: 0.47em;
}
#cal12 {
    top: 3.43em;
    left: 1.97em;
}
#cal13 {
    top: 3.43em;
    left: 3.47em;
}
#cal14 {
    top: 3.43em;
    left: 4.97em;
}

.calendar_form {
    position: absolute;
    top: 100%;
    margin-top: -0.75em;
    left: 0.3em;
    margin-right: -2em;
}
.calendar_form_input {
    .inlineblock;
    position: relative;
    left: -9999em;
    .view & {
        left: 0;
    }
    input {
        display: block;
        .border-radius(2em);
        width: 21.83em;
        height: 2.44em;
        background: white;
        font-size: 0.18em;
        line-height: 2.44em;
        text-align: center;
        font-family: "Arial", sans-serif;
    }
}
.calendar_form_submit {
    .inlineblock;
    cursor: pointer;
    position: relative;
    left: -9999em;
    .view & {
        left: 0;
    }
    input {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    img {
        width: 2.68em;
        height: 0.47em;
        display: block;
    }
}
.calendar_soc {
    position: relative;
    top: 0.4em;
    .inlineblock;
    font-size: 0.1em;
    .social_item-text {
        color: white;
        font-size: 1.2em;
        line-height: 2.7em;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 0;
        margin-top: -2.2em;
    }
}