//----------copy section-----------//
.copy {
    position: absolute;
    left: 50%;
    margin-left: -5.8em;
    top: 7.4em;
    color: white;
    span {
        .inlineblock;
        color: white;
        font-size: 0.14em;
    }
}