//----------gallery section-----------//
.gallery {
    position: absolute;
    left: 50%;
    left: -9999em;
    margin-left: -5.97em;
    top: 2.02em;
    width: 2.66em;
    .view & {
        left: 50%;
    }
}
.gallery_list {
    list-style: none;
    position: relative;
    display: block;
    .transition(top 0.5s linear);
}
.gallery_item {
    display: block;
    margin-top: -0.05em;
    width: 100%;
    max-height: 0.52em;
    position: relative;
    background: #31a100;
    .border-radius(0.09em 0.09em 0 0);
    .transition(all 0.3s);
    .box-shadow(0 -1px 3px -0px rgba(0,0,0,0.2));
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        .border-radius(0.09em);
    }
    & > img {
        position: absolute;
        left: 0;
        top: -0.03em;
        height: 0.53em;
        width: 100%;
        .border-radius(0.09em 0.09em 0 0);
        .transition(all 0.3s);
        .opacity(0);
    }
    &.active {
        max-height: none;
        padding-bottom: 0.05em;
        background: #005e21;
        .gallery_img {
            padding-top: 0.2em;
            max-height: 2em;
        }
    }
}
.gallery_item_link {
    .transition(all 0.3s);
    overflow: hidden;
    height: 0.54em;
    display: block;
    .border-radius(0.09em 0.09em 0 0);
    text-decoration: none;
    padding: 0 0.05em;

    span {
        .transition(all 0.3s);
        display: block;
        position: relative;
    }
}
.gallery_num {
    float: left;
    text-align: center;
    width: 1.8em;
    color: white;
    .otrada;
    font-size: 0.28em;
    line-height: 1.7em;
}
.gallery_text {
    overflow: hidden;
    color: white;
    font-size: 0.18em;
    line-height: 1.5em;
    padding-top: 0.46em;
    padding-bottom: 0.24em;
    max-height: 1em;
    .roboto;
}
.gallery_img {
    .transition(all 0.3s);
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
    img {
        .inlineblock;
        width: 2.51em;
    }
    .calendar & {
        position: fixed;
        .transition(all 0s);
        max-height: 1000px;
    }
}
.gallery_wrap {
    position: relative;
    overflow: hidden;
    height: 4.72em;
    height: 4.81em;
    width: 100%;
    .border-radius(0.09em 0.09em 0 0);
//    .box-shadow(0 -1px 3px -0px rgba(0,0,0,0.2));
}
.gallery_arrow_top {
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
    img {
        width: 0.27em;
        height: 0.15em;
        .inlineblock;
    }
}
.gallery_arrow_bottom {
    position: absolute;
    bottom: -0.3em;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 0;
    img {
        width: 0.27em;
        height: 0.15em;
        .inlineblock;
    }
}
.gallery_more {
    overflow: hidden;
    max-height: 0;
    position: relative;
    .transition(all 0.3s);
    background: white;
    .border-radius(0 0 0.09em 0.09em);
    .active & {
        max-height: 10em;
        margin: 0 0.05em 0.05em;
        padding: 0.05em;
    }
}
.gallery_text_more {
    font-size: 0.13em;
    .roboto;
    color: #4b4b4b;

}
.gallery_delimetr {
    padding: 0.1em;
    img {
        display: block;
        width: 0.92em;
    }
}