//----------man section-----------//
.man {
    position: absolute;
    left: -9999em;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 91, 32, 0.60);
    .opacity(0);
    .transition(opacity 0.5s);
    .view & {
        left: 0;
        .opacity(1);
    }
}
.man_shadow {

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
        .box-shadow(0 0 1.9em .7em rgba(0, 0, 0, 0.2));
    }
}
.man_gal {
    position: absolute;
    top: 3.8em;
    left: 50%;
    margin-left: -4.1em;
    img {
        position: relative;
        width: 2.85em;
        display: block;
    }
    .man_shadow;
}
.man_cal {
    position: absolute;
    top: 2.5em;
    left: 50%;
    margin-left: -0.1em;
    img {
        position: relative;
        width: 2.71em;
        display: block;
    }
    .man_shadow;
}
.man_share {
    position: absolute;
    top: 6.3em;
    left: 50%;
    margin-left: 2.8em;
    img {
        position: relative;
        width: 3.97em;
        display: block;
    }
    .man_shadow;
}
.man_submit {
    position: absolute;
    top: 6.4em;
    left: 50%;
    margin-left: -2.4em;
    img {
        position: relative;
        width: 3.83em;
        display: block;
    }
    .man_shadow;
}
.man_close {
    position: absolute;
    top: 1%;
    right: 1%;
    display: block;
    cursor: pointer;
    z-index: 40;
    img {
        position: relative;
        width: 2.03em;
        display: block;
    }
    .man_shadow;
}