//----------popup section-----------//
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 20;
    display: none;
    background: rgba(0, 91, 32, 0.60);
}
.popup_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .opacity(0);
}
.popup_container {
    position: relative;
    left: 50%;
    margin-left: -207px;
    width: 514px;
    background: white;
    .border-radius(25px);
    top: 120px;
    margin-bottom: 40px;
    overflow: hidden;
    & > section {
        display: none;
        &.active {
            display: block;
        }
    }
}
.popup_close {
    position: absolute;
    right: 18px;
    width: 14px;
    color: white;
    text-transform: uppercase;
    top: 18px;
    text-decoration: none;
    font-size: 18px;
    margin-top: -5px;
}
.popup_title {
    padding-left: 19px;
    background: #005b20;
    position: relative;
    height: 49px;
    color: white;
    margin-bottom: 10px;
    .otrada {
        font-size: 28px;
        line-height: 49px;
    }
    .roboto {
        font-size: 18px;
        line-height: 35px;
    }
}
.popup_image {
    padding: 5px 19px 5px;
    margin: 0 0 20px;
    img {
        display: block;
        max-width: 100%;
    }
}
.popup_text {
    font-size: 13px;
    line-height: 1.4;
    color: #4b4b4b;
    margin: 0 19px 20px;
}
.popup_soc {
    text-align: right;
    padding: 0 25px;
    margin-bottom: 20px;
    .social_item-text {
        font-size: 13px;
        line-height: 38px;
        color: #005b20;
    }
}
.social_list {
    white-space: nowrap;
    list-style: none;
}
.social_item {
    .inlineblock;
    overflow: hidden;
    .border-radius(50%);
    margin: 0 2px;
}
.social_item-text {
    padding-left: 5px;
    .social_item;
    .border-radius(0);
    text-transform: uppercase;
    text-decoration: underline;
    font-family: "Arial", sans-serif;
}
.social_link {
    display: block;
    img {
        display: block;

    }
}
.popup_info_wrap {
    .popup_text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
    }
}