html {
	width:100%;
	height:100%;
	font-size: 100.01%;
}

body {
	font: 14px/1.41 Arial, sans-serif;
	width:100%;
	height:100%;
    min-width: 1200px;
    min-height: 700px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style: none inside none;
}

@font-face {
    font-family: 'otradaregular';
    src: url('../font/otrada-webfont.eot');
    src: url('../font/otrada-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/otrada-webfont.woff2') format('woff2'),
    url('../font/otrada-webfont.woff') format('woff'),
    url('../font/otrada-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.otrada {
    font-family: "otradaregular", sans-serif;
}

.roboto {
    font-family: "Roboto Condensed", sans-serif;
}
.robotolight {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
}

@import "mixins.less";

/* Secondary section */

.wrapper {
	position: relative; 
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
    z-index: 10;
}

.maincontent {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    font-size: 100px;
}
.hidden, .ninja {
    position: absolute;
    left: -9999px;
    top: -9999px;
    .opacity(0);
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
.corner {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.34em;
}
.logo {
    position: absolute;
    left: 0.23em;
    top: 0;
    width: 0.83em;
    img {
        display: block;
        position: relative;
        .opacity(0);
    }
}
.slogan {
    position: absolute;
    left: 50%;
    margin-left: -2.8em;
    top: 0.57em;
    width: 3.51em;
    img {
        display: block;
        position: relative;
    }
}

.make_own {
    position: absolute;
    left: 50%;
    margin-left: -6em;
    top: 2em;
    .view & {
        left: -999em;
    }
    img {
        width: 2.68em;
        height: 0.47em;
        display: block;
    }
}

.back_button {
    position: absolute;
    top: 0.02em;
    left: 50%;
    margin-left: 4.63em;
    width: 0.89em;
    img {
        display: block;
        width: 100%;
    }
}


@import "/less/gallery";
@import "/less/calendar";
@import "/less/popup";
@import "/less/man";
@import "/less/copy";